# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## automake delated
autom4te.cache
autom4te.cache/*
compile
src/.deps/
src/.deps/*

# Binaries
src/pEmmax
src/vcfast
src/chaps
src/anno
src/bgzip
src/tabix